/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

a {
  color: deepskyblue;
}

body {
  background-color: deepskyblue;
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  line-height: 1.5;
  font-style: bold;
}

p {
  font-size: 18px;
  line-height: 1.2;
}

a {
  color: rgb(238, 89, 89);
}

a:visited {
  color: #820686;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: 2px solid red;
}

a:active {
  color: #0f0;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: blue;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: blue;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* .secondary-button {
    background-color: white;
    color: blue;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid blue;
} */

/* Multiple classes */

/* .button {
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font=size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.primary-button {
    background-color: #007bff;
    color: #fff;
}

.large-button {
    padding: 15px 30px;
    font-size: 20px;
} */

.button:hover {
  background: deepskyblue;
  border: 2px solid red;
  cursor: pointer;
  opacity: 0.8;
}

.button :focus {
  background: deepskyblue;
  border: 2px solid red;
  cursor: pointer;
  opacity: 0.8;
}

button:active {
  background-color: #0f0;
}

.profile__portrait {
  float: left;
  max-width: 400px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex-direction;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

#grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

#grid-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#grid-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

#grid-container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

#grid-container > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

#grid-container > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

#grid-container > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
#grid-container .grid__item {
  background-color: #0f0;
  color: black;
  text-align: center;
  min-height: 100px;
}

#grid-container .grid__item:nth-child(1) {
}

#grid-container .grid__item:nth-child(2) {
}

/* start grid fallback */
.grid_item {
  display: inline-block;
  width: 33%;
}
/* end grid fallback */

@support (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels, they are responsive */
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.berlin-illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}
